
* { padding: 0; margin: 0; font-family: Arial;}
body {
    background-color: #1a1a1a;
}

canvas { 
    background: #06091d; 
    position: absolute;
    display: block; 
    top:100px;
    left: 50%;
    transform: translateX(-50%);
    border: #2a377b 15px solid;
     /*
    #fc0ed2 - pink
    #1D1FA7 - яркий цвет, который Роме не нравится((((((
    #2a377b - красивый цвет для Ромы <3*/
    
}

#Button{
    width: 200px;
    height: 60px;
    background: #3280e5;
    position: absolute;
    top: 450px;
    border-radius: 5000px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #06091d;
    font-size: 36pt;
    transition-property: opacity;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}

#Button:hover{
    box-shadow: 0 0 30px aliceblue;
}

/*#myCanvas{
    width:480px;
    height:480px;
}*/

#Game{
    visibility: hidden;
}

#debug {
    display:block;
    height:80px;
    color:aliceblue;
    position:absolute;
    width:100%;
}
#debug div {
    background-color: black;
    display: inline-block;
    width: 33%;
    height:80px;
}

#Timer{
    text-align: center;
    color: #3280e5;
    font-size: 36pt;
}
#Score{
    text-align: center;
    color: #3280e5;
    font-size: 16pt;
}

#Lives{
    margin: 540 0 0 225;
    text-align: center;
    display: inline-block;
}

#BonusTimer{
    display: inline-block;
    position:absolute;
    margin-top:150px;
    margin-left: 750px;
    text-align: center;
    color: #3280e5;
    font-size: 16pt;
}

#gameover{
    visibility: hidden;
    text-align: center;
    color: #e53032;
    font-size: 47pt;
    font-weight: 800;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top:610px;
}

.ScoreTableName{
    display:inline-block;
    background-color:#06091d;
    color: #3280e5;
    width:65%;
}
.ScoreTableScore{
    display:inline-block;
    background-color: #06091d;
    width:25%;
    color: #3280e5;
    text-align: right;
}
.ScoreTableNumber{
    display:inline-block;
    background-color: #06091d;
    width:10%;
    color: #3280e5;
    text-align: left;
}
.ScoreTableLine{
    display:block;
    border: #2a377b 1px solid;
    font-size:21px;
    
}
#ScoreTable{
    display: inline-block;
    min-width: 200px;
    max-width: 220px;
    border: #2a377b 1px solid;
    background-color: #06091d;
    /*-webkit-transition: width 0.25s, height 0.25s;
    transition: width 0.25s, height 0.25s;*/
}
#ScoresBlock{
    position: absolute;
    top:150px;
    
}

.ScoreTableTitle{
    background-color: #2a377b;
    font-weight: 900;
    color: #06091d;
    text-align: center;
    font-size:25px;
    transition-property: color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}
.ScoreTableTitle:hover {
    color:#3280e5;
}

#RememberBlock{
    width:210px;
    font-size: 15px;
    text-align: center;
    padding:3px;
    visibility: hidden;
    
}
#RememberBlock input {
    font-size: 15px;
    margin:5px;
}
